.section:nth-child(odd){
    color:white;
    background: linear-gradient(rgba(255,93,177,1) 0%, rgba(124,5,235,1) 100%);
}
.section:nth-child(even){
    background: linear-gradient(to bottom, rgba(84,255,241,1) 0%, rgba(145,232,66,1) 100%);
    color:black;
}


.grade-container {
    width:100px;
    height:100px;
    position:fixed;
    top:0px;
    right:0px;
    text-align:center;
    border: solid 2px white;
    color:white;
}

.collapsible {
    color:black;
    background-color:white;
}

.collapsible-body>ul>li {
    list-style-type:square;
}

.section {
    padding: 10px 30px 30px 30px;
    width: 100vw;
    min-height: 100vh;
  display: inline-block;
  vertical-align: top;
    border-bottom: solid 10px black;    
}

.choicelist {
    
    margin-top:25px;
    
}

.choice {
    display:block;
    min-width:25vw;
    max-width:80vw;
    color:white;
    margin: 20px auto 20px auto;
    cursor:pointer;
    padding: 0 10px 10px 10px;
}